@media screen and (min-width: 601px) {
  html,
  body,
  aside {
    height: 100%;
    margin: 0px;
  }
  body {
    background-color: #f7fafe;
  }
  * {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
  .nav {
    width: 306px;
    height: 100%;
    display: block;
    float: left;
    background-color: #ffffff;
  }
  .nav__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 39px 31px;
  }
  .nav__header__img,
  .nav__header__name,
  .nav__header__description {
    padding: 5px;
  }
  .nav__header__description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #838383;
  }
  .nav__header__name {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
  }
  .nav__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 40px;
    font-weight: 500;
    line-height: 21px;
  }
  .nav__item__name {
    margin-left: 15px;
    color: #9197B3;
  }
  .nav__item:not(:first-child)::after {
    content: ">";
    margin-left: auto;
    color: #9197B3;
  }
  .nav__item:not(:first-child)::after {
    content: ">";
    margin-left: auto;
    color: #9197B3;
  }
  .nav__item:nth-child(3) {
    padding: 0px;
    margin-left: 30px;
    padding-left: 10px;
    color: #ffffff;
    width: 250px;
    height: 46px;
    background-color: #5932EA;
    border-radius: 8px;
  }
  .nav__item:nth-child(3)::after {
    content: ">";
    margin-right: 24px;
    position: relative;
    right: 0%;
    color: #ffffff;
  }
  .nav__item:nth-child(3) .nav__item__name {
    color: #ffffff;
  }
  .nav__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0 0 76px 28px;
  }
  .nav__footer__name {
    font-weight: bold;
  }
  .nav__footer__description {
    color: #757575;
  }
  .nav__footer__flex {
    margin-left: 12px;
  }
  main {
    background-color: #f7fafe;
    height: 100%;
  }
  .username {
    padding: 41px 0 0 380px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  .main-container {
    width: 968px;
    height: auto;
    margin: 30px 0 0 350px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px 38px;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  }
  .main-container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-container__header__name {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }
  .main-container__header__name-col {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #16C098;
  }
  .main-container__header__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 38px;
    background-color: #F9FBFF;
    border-radius: 10px;
  }
  .main-container__header__input input {
    border: none;
  }
  .main-container__header__input input:hover {
    border: none;
  }
  .main-container__header__input input:focus {
    outline: none;
    border: none;
  }
  .main-container__header__input-inside {
    background-color: #F9FBFF;
  }
  .main-container__header__input-inside::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .main-container__header__input-inside::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .main-container__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  .main-container__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -7px;
    font-weight: bold;
    color: #292D32;
  }
  .main-container__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-container__items > div:nth-child(-n+6) {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .main-container__item--status-active,
  .main-container__item--status-inactive,
  .main-container__item--status {
    text-align: right;
  }
  .grid-hr {
    width: 100%;
    height: 0px;
    border: 1px solid #EEEEEE;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .main-container__footer {
    margin-top: 20px;
  }
  .main-container__footer__name {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .main-container__footer__pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-container__footer__pages__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 25px;
    height: 25px;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
  }
  .main-container__footer__pages__item:nth-child(2) {
    background-color: #5932EA;
    color: #ffffff;
  }
  .main-container__item--status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-container__item--status-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 29px;
    background-color: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
    text-align: center;
    color: #008767;
  }
  .main-container__item--status-inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 29px;
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    border-radius: 4px;
    color: #DF0404;
  }
  .nav__item,
  .main-container__footer__pages__item {
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  html,
  body,
  aside {
    height: 100%;
    margin: 0px;
  }
  body {
    background-color: #f7fafe;
  }
  * {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
  .nav {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 4px;
  }
  .nav__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 39px 31px;
  }
  .nav__header__img,
  .nav__header__name,
  .nav__header__description {
    padding: 5px;
  }
  .nav__header__description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #838383;
  }
  .nav__header__name {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
  }
  .nav__header__cross {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .nav__header__cross:before,
  .nav__header__cross:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background: #292D32;
  }
  .nav__header__cross:before {
    transform: rotate(45deg);
  }
  .nav__header__cross:after {
    transform: rotate(-45deg);
  }
  .nav__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 40px;
    font-weight: 500;
    line-height: 21px;
  }
  .nav__item__name {
    margin-left: 15px;
    color: #9197B3;
  }
  .nav__item:not(:first-child)::after {
    content: ">";
    margin-left: auto;
    color: #9197B3;
  }
  .nav__item:not(:first-child)::after {
    content: ">";
    margin-left: auto;
    color: #9197B3;
  }
  .nav__item:nth-child(3) {
    padding: 15px 40px;
    color: #ffffff;
    height: 46px;
    background-color: #5932EA;
    border-radius: 8px;
  }
  .nav__item:nth-child(3)::after {
    content: ">";
    margin-left: auto;
    color: #ffffff;
  }
  .nav__item:nth-child(3) .nav__item__name {
    color: #ffffff;
  }
  .nav__footer__flex,
  .username,
  .main-container__header__name,
  .main-container__header__name-col,
  .main-container__item:nth-child(-n+6),
  .main-container__footer__name {
    display: none;
  }
  .nav__footer__img {
    position: absolute;
    top: 43px;
    left: 30px;
  }
  .main-container {
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    width: 100%;
  }
  .main-container__header__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    background-color: #F9FBFF;
    border-radius: 10px;
  }
  .main-container__header__input input {
    border: none;
  }
  .main-container__header__input input:hover {
    border: none;
  }
  .main-container__header__input input:focus {
    outline: none;
    border: none;
  }
  .main-container__header__input-inside {
    background-color: #F9FBFF;
  }
  .main-container__header__input-inside::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .main-container__header__input-inside::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  .grid-hr {
    width: 100%;
    height: 0px;
    border: 1px solid #EEEEEE;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .main-container__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-container__item--status-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 29px;
    background-color: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
    text-align: center;
    color: #008767;
    padding: 0 10px;
  }
  .main-container__item--status-inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 29px;
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    border-radius: 4px;
    color: #DF0404;
    padding: 0 10px;
  }
  .nav__item,
  .main-container__footer__pages__item,
  .nav__header__cross {
    cursor: pointer;
  }
  .main-container__footer__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-container__footer__pages__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 25px;
    height: 25px;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
  }
  .main-container__footer__pages__item:nth-child(2) {
    background-color: #5932EA;
    color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */