$background_col: #ffffff;
$background_col-2: #f7fafe;
$background-input: #F9FBFF;
$background-col-pages: #F5F5F5;

$hr-col: #EEEEEE;

$text-col: #292D32;
$text-col-header-desk: #838383;
$text-col-nav: #9197B3;
$text-col-active: #5932EA;
$text-col-nav-footer: #757575;
$text-col-header-name: #16C098;
$text-col-placeholder: #B5B7C0;

$box-shadow-main-container: 0px 10px 60px rgba(226, 236, 249, 0.5);
$box-shadow-main-container-mob: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

$border-radius: 30px;
$border-radius-2: 8px;
$border-radius-3: 10px;
$border-radius-4: 4px;

$backgroind-col-status-active: rgba(22, 192, 152, 0.38);
$backgroind-col-status-inactive: #FFC5C5;
$border-col-status-active: 1px solid #00B087;
$border-col-status-inactive: 1px solid #DF0404;
$col-status-active: #008767;
$col-status-inactive: #DF0404;


@mixin custom-flex($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.5fr;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
}

@mixin remove-input-borders {
    input {
        border: none;

        &:hover {
            border: none;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }
}