@import '_variables';


@media screen and (min-width: 601px) {

    html,
    body,
    aside {
        height: 100%;
        margin: 0px;
    }

    body {
        background-color: $background_col-2;
    }

    * {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }

    .nav {
        width: 306px;
        height: 100%;
        display: block;
        float: left;
        background-color: $background_col;
    }

    .nav__header {
        @include custom-flex(row, center, center);
        padding: 39px 31px;
    }

    .nav__header__img,
    .nav__header__name,
    .nav__header__description {
        padding: 5px;
    }

    .nav__header__description {
        margin-top: 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: $text-col-header-desk;
    }

    .nav__header__name {
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        letter-spacing: 0.01em;
    }

    .nav__item {
        @include custom-flex(row, flex-start, center);
        padding: 25px 40px;
        font-weight: 500;
        line-height: 21px;
    }

    .nav__item__name {
        margin-left: 15px;
        color: $text-col-nav;
    }

    .nav__item:not(:first-child)::after {
        content: ">";
        margin-left: auto;
        color: $text-col-nav;
    }

    .nav__item:not(:first-child)::after {
        content: ">";
        margin-left: auto;
        color: $text-col-nav;
    }

    .nav__item:nth-child(3) {
        padding: 0px;
        margin-left: 30px;
        padding-left: 10px;
        color: $background_col;
        width: 250px;
        height: 46px;
        background-color: $text-col-active;
        border-radius: $border-radius-2;

        &::after {
            content: ">";
            margin-right: 24px;
            position: relative;
            right: 0%;
            color: $background_col;
        }
    }

    .nav__item:nth-child(3) .nav__item__name {
        color: $background_col;
    }


    .nav__footer {
        @include custom-flex(row, space-between, center);
        position: absolute;
        bottom: 0;
        margin: 0 0 76px 28px;
    }

    .nav__footer__name {
        font-weight: bold;
    }

    .nav__footer__description {
        color: $text-col-nav-footer;
    }

    .nav__footer__flex {
        margin-left: 12px;
    }

    main {
        background-color: $background_col-2;
        height: 100%;
    }

    .username {
        padding: 41px 0 0 380px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    .main-container {
        width: 968px;
        height: auto;
        margin: 30px 0 0 350px;
        background-color: $background_col;
        border-radius: $border-radius;
        padding: 30px 38px;
        box-shadow: $box-shadow-main-container;
    }

    .main-container__header {
        @include custom-flex(row, space-between, center);
    }

    .main-container__header__name {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.01em;
    }

    .main-container__header__name-col {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: $text-col-header-name;
    }

    .main-container__header__input {
        @include custom-flex(row, center, center);
        width: 216px;
        height: 38px;
        background-color: $background-input;
        border-radius: $border-radius-3;
        @include remove-input-borders;
    }

    .main-container__header__input-inside {
        background-color: $background-input;
    }

    .main-container__header__input-inside::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: $text-col-placeholder;
    }

    .main-container__items {
        @include grid-layout;
        margin-top: 30px;
    }

    .main-container__item {
        @include custom-flex(row, flex-start, center);
        margin-top: -7px;
        font-weight: bold;
        color: $text-col;
    }

    .main-container__footer {
        @include custom-flex(row, space-between, center);
    }

    .main-container__items>div:nth-child(-n+6) {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: $text-col-placeholder;
    }

    .main-container__item--status-active,
    .main-container__item--status-inactive,
    .main-container__item--status {
        text-align: right;
    }

    .grid-hr {
        width: 100%;
        height: 0px;
        border: 1px solid $hr-col;
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .main-container__footer {
        margin-top: 20px;
    }

    .main-container__footer__name {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: $text-col-placeholder;
    }

    .main-container__footer__pages {
        @include custom-flex(row, center, center);
    }

    .main-container__footer__pages__item {
        @include custom-flex(row, center, center);
        margin: 10px;
        width: 25px;
        height: 25px;
        background: $background-col-pages;
        border: 1px solid $hr-col;
        border-radius: 4px;
    }

    .main-container__footer__pages__item:nth-child(2) {
        background-color: $text-col-active;
        color: $background_col;
    }

    .main-container__item--status {
        @include custom-flex(row, center, center);
    }

    .main-container__item--status-active {
        @include custom-flex(row, center, center);
        height: 29px;
        background-color: $backgroind-col-status-active;
        border: $border-col-status-active;
        border-radius: $border-radius-4;
        text-align: center;
        color: $col-status-active;
    }

    .main-container__item--status-inactive {
        @include custom-flex(row, center, center);
        text-align: center;
        height: 29px;
        background-color: $backgroind-col-status-inactive;
        border: $border-col-status-inactive;
        border-radius: 4px;
        color: $col-status-inactive;
    }

    .nav__item,
    .main-container__footer__pages__item {
        cursor: pointer;
    }
}


///////////////////////////


@media screen and (max-width: 600px) {

    html,
    body,
    aside {
        height: 100%;
        margin: 0px;
    }

    body {
        background-color: $background_col-2;
    }

    * {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
    }


    .nav {
        background-color: $background_col;
        box-shadow: $box-shadow-main-container-mob;
        border-radius: $border-radius-4;
    }

    .nav__header {
        @include custom-flex(row, center, center);
        padding: 39px 31px;
    }

    .nav__header__img,
    .nav__header__name,
    .nav__header__description {
        padding: 5px;
    }

    .nav__header__description {
        margin-top: 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: $text-col-header-desk;
    }

    .nav__header__name {
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        letter-spacing: 0.01em;
    }

    .nav__header__cross {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .nav__header__cross:before,
    .nav__header__cross:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: $text-col;
    }

    .nav__header__cross:before {
        transform: rotate(45deg);
    }

    .nav__header__cross:after {
        transform: rotate(-45deg);
    }

    .nav__item {
        @include custom-flex(row, flex-start, center);
        padding: 25px 40px;
        font-weight: 500;
        line-height: 21px;
    }

    .nav__item__name {
        margin-left: 15px;
        color: $text-col-nav;
    }


    .nav__item:not(:first-child)::after {
        content: ">";
        margin-left: auto;
        color: $text-col-nav;
    }

    .nav__item:not(:first-child)::after {
        content: ">";
        margin-left: auto;
        color: $text-col-nav;
    }

    .nav__item:nth-child(3) {
        padding: 15px 40px;
        color: $background_col;
        height: 46px;
        background-color: $text-col-active;
        border-radius: $border-radius-2;

        &::after {
            content: ">";
            margin-left: auto;
            color: $background_col;
        }
    }

    .nav__item:nth-child(3) .nav__item__name {
        color: $background_col;
    }

    .nav__footer__flex,
    .username,
    .main-container__header__name,
    .main-container__header__name-col,
    .main-container__item:nth-child(-n+6),
    .main-container__footer__name {
        display: none;
    }



    .nav__footer__img {
        position: absolute;
        top: 43px;
        left: 30px;
    }

    .main-container {
        background-color: $background_col;
        box-shadow: $box-shadow-main-container;
        width: 100%;
    }

    .main-container__header__input {
        @include custom-flex(row, center, center);
        height: 38px;
        background-color: $background-input;
        border-radius: $border-radius-3;
        @include remove-input-borders;
    }

    .main-container__header__input-inside {
        background-color: $background-input;
    }

    .main-container__header__input-inside::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: $text-col-placeholder;
    }

    .grid-hr {
        width: 100%;
        height: 0px;
        border: 1px solid $hr-col;
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .main-container__items {
        @include custom-flex(column, center, center);
    }

    .main-container__item--status-active {
        @include custom-flex(row, center, center);
        height: 29px;
        background-color: $backgroind-col-status-active;
        border: $border-col-status-active;
        border-radius: $border-radius-4;
        text-align: center;
        color: $col-status-active;
        padding: 0 10px;
    }

    .main-container__item--status-inactive {
        @include custom-flex(row, center, center);
        text-align: center;
        height: 29px;
        background-color: $backgroind-col-status-inactive;
        border: $border-col-status-inactive;
        border-radius: 4px;
        color: $col-status-inactive;
        padding: 0 10px;
    }

    .nav__item,
    .main-container__footer__pages__item,
    .nav__header__cross {
        cursor: pointer;
    }

    .main-container__footer__pages {
        @include custom-flex(row, space-around, center);
    }

    .main-container__footer__pages__item {
        @include custom-flex(row, center, center);
        margin: 10px;
        width: 25px;
        height: 25px;
        background: $background-col-pages;
        border: 1px solid $hr-col;
        border-radius: 4px;
    }

    .main-container__footer__pages__item:nth-child(2) {
        background-color: $text-col-active;
        color: $background_col;
    }

}